<div ng-controller="BuscadorMaterialCtrl as controlador">

    <div class="row">
        <form autocomplete="off">
            <div class="col-lg-12 col-md-12">
                <label>Descripcion</label>
                <input id="descripcion" 
                       class="form-control" 
                       type="text"
                       ng-model="filtro.nombre"
                       placeholder="Descripcion"
                       ng-change="buscar()"/>
            </div>
        </form>
    </div>
    <br />
    <div class="row" ng-show="lista.length">
        <div class="col-lg-12 col-md-12">
            <table class="resultados table table-striped" >
                <tr>                            
                    <th colspan="4" class="text-center">Materiales</th>                            
                </tr>
                <tr>                            
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Unidad</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Agregar</th>
                </tr>
                <tr ng-repeat="row in lista" >
                    <td class="row text-center">{{row.descripcion}}</td>                
                    <td class="row text-center">{{row.unidad}}</td>
                    <td class="row text-center">{{row.precio| currency}}</td>                
                    <td class="row text-center">
                        <button type="button" class="btn btn-info" ng-click="agregar(row)" title="Agregar Material">
                            <i class="glyphicon glyphicon-plus"></i></button>
                    </td>                
                </tr>
            </table> 
        </div>
    </div>
</div>