<div ng-controller="BuscadorMaterialCtrl as controlador">
    <ul class="nav nav-tabs" style="width: 100%">
        <li style="width: 50%" ng-class="panelBuscarMateriales ? 'active' : ''"><a ng-click="busquedaMateriales()">Buscar Materiales</a></li>
        <li style="width: 50%" ng-class="panelBuscarMateriales ? '' : 'active'"><a ng-click="nuevoMaterial()">Nuevo Material</a></li>
    </ul>   
    <br />
    <div ng-show="panelBuscarMateriales">
        <!--<div class="row">-->
<!--            <form autocomplete="off">
                <div class="col-lg-12 col-md-12">
                    <label>Nombre</label>
                    <input id="descripcion" 
                           class="form-control" 
                           type="text"
                           ng-model="filtro.nombre"
                           placeholder="Nombre"
                           ng-change="buscar()"/>
                </div>
            </form>-->
        <!--</div>-->
        <!--<br />-->
        <div class="row" ng-show="lista.length">
            <div class="col-lg-12 col-md-12">
                <table ng-table="busquedaMateriales" class="table" show-filter="true">
                    <tr ng-repeat="row in $data">
                        <td style="width:50%" title="'Nombre'" filter="{ descripcion: 'text'}" sortable="'descripcion'">{{row.descripcion}}</td>
                        <td style="width:20%" title="'Marca'" filter="{ marca: 'text'}" sortable="'marca'">{{row.marca}}</td>
                        <td style="width:10%" title="'Unidad'" class="text-center">{{row.unidad.descripcion}}</td>
                        <td style="width:10%" title="'Valor Unitario'" class="text-center">{{row.precio| currency:undefined:0}}</td>
                        <td style="width:10%" title="'Agregar'" class="text-center">
                            <button type="button" class="btn btn-info" ng-click="agregar(row)" uib-tooltip="Agregar Material">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>    
                        </td>
                    </tr>
                </table>



<!--                <table class="resultados table table-striped" >
                    <tr>                            
                        <th colspan="5" class="text-center">Materiales</th>                            
                    </tr>
                    <tr>                            
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Marca</th>
                        <th class="text-center">Unidad</th>
                        <th class="text-center">Valor Unitario</th>
                        <th class="text-center">Agregar</th>
                    </tr>
                    <tr ng-repeat="row in lista" >
                        <td class="row">{{row.descripcion}}</td>                
                        <td class="row">{{row.marca}}</td>                
                        <td class="row text-center">{{row.unidad.descripcion}}</td>
                        <td class="row text-center">{{row.precio| currency:undefined:0}}</td>                
                        <td class="row text-center">
                            <button type="button" class="btn btn-info" ng-click="agregar(row)" uib-tooltip="Agregar Material">
                                <i class="glyphicon glyphicon-plus"></i></button>
                        </td>                
                    </tr>
                </table> -->
            </div>
        </div>
    </div>
    <div ng-hide="panelBuscarMateriales">
        <form role="form" id="formularioEditar" name="formularioEditar" novalidate angular-validator
              angular-validator-submit="guardarMaterial()" autocomplete="off">
            <div class="row">
                <div class="form-group col-md-6 col-lg-6">
                    <label for="descripcion" class="label-required">Nombre</label>
                    <input id="descripcion" name="descripcion"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="materialNuevo.descripcion"
                           placeholder="Nombre"/>
                </div>
                <div class="form-group col-md-6 col-lg-6">
                    <label for="marca" class="label-required">Marca</label>
                    <input id="marca" name="marca"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="materialNuevo.marca"
                           placeholder="Marca"/>
                </div>
            </div>				
            <div class="row">
                <div class="form-group col-md-6 col-lg-6">
                    <label for="precio" class="label-required">Valor Unitario</label>
                    <input id="Precio" name="precio"
                           class="form-control" 
                           type="number"
                           min="1"
                           step="1"
                           invalid-message="'Valor inválido mínimo 1'"
                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="materialNuevo.precio"
                           placeholder="Valor Unitario"/>
                </div>
                <div class="form-group col-md-6 col-lg-6">
                    <label for="unidad" class="label-required">Unidad</label>
                    <div class="input-group">
                        <select id="unidad" class="form-control" name="unidad"
                                required
                                required-message="'Campo Requerido'"
                                ng-model="materialNuevo.unidad"
                                ng-options="option.descripcion for option in listaUnidades track by option.id">
                        </select>
                        <span class="input-group-btn" style="vertical-align: top">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalUnidad">
                                <i class="glyphicon glyphicon-plus" ></i> 
                            </button>
                        </span>
                    </div>
                </div>
            </div>			

            <div class="row"> 
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-default" ng-click="busquedaMateriales()"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                    <button type="submit" class="btn btn-default" ><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
