<div ng-controller="BuscadorManoObraCtrl as controlador">
    <div class="row" ng-show="listaSalarios.length">
        <div class="col-lg-12 col-md-12">
            <table class="resultados table table-striped" >
                <tr>                            
                    <th colspan="4" class="text-center">Mano de Obra</th>                            
                </tr>
                <tr>                            
                    <th class="text-center">Cargo</th>
                    <th class="text-center">Total Hora</th>
                    <th class="text-center">Total Mensual</th>
                    <th class="text-center">Agregar</th>
                </tr>
                <tr ng-repeat="row in listaSalarios track by row.id" ng-show="row.total > 0">
                    <td class="row text-center">{{row.descripcion}}</td>                
                    <td class="row text-center">{{row.totalHora | currency:undefined:0}}</td>
                    <td class="row text-center">{{row.total| currency:undefined:0}}</td>                
                    <td class="row text-center">
                        <button type="button" class="btn btn-info" ng-click="agregarManoObra(row)" uib-tooltip="Agregar Mano Obra">
                            <i class="glyphicon glyphicon-plus"></i></button>
                    </td>                
                </tr>
            </table> 
        </div>
    </div>
</div>