<div ng-controller="BuscadorHerramientaCtrl as contr">

    <div class="row">
        <form autocomplete="off">
            <div class="col-lg-12 col-md-12">
                <label>Descripción Herramienta</label>
                <input id="descripcion" 
                       class="form-control" 
                       type="text"
                       ng-model="filtro.nombre"
                       placeholder="Descripción Herramienta"
                       ng-change="buscar()"/>
            </div>
        </form>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12 col-md-12" ng-show="lista.length">
            <table class="resultados table table-striped">
                <tr>                            
                    <th colspan="4" class="text-center">Herramientas</th>                            
                </tr>
                <tr>                            
                    <th class="text-center">Descripción Herramienta</th>
                    <th class="text-center">Valor Unitario</th>
                    <th class="text-center">Porcentaje %</th>
                    <th class="text-center"></th>
                </tr>
                <tr ng-repeat="row in lista">
                    <td class="row">{{row.descripcion}}</td>                
                    <td class="row text-center">{{row.valor| currency:undefined:0}}</td>
                    <td class="row text-center">{{row.porcentaje}}</td>
                    <td class="row text-center">
                        <button type="button" class="btn btn-info" ng-click="agregarHerramienta(row)" uib-tooltip="Agregar Herramienta">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </td>
                </tr>
            </table> 
        </div>
    </div>
</div>