<div class="panel panel-primary">
    <div class="panel-heading">Parametrizaci&oacute;n de Contacto</div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-md-6" >
                <label for="nombresContacto" class="label-required">Nombres</label>
                <input id="nombresContacto" name="nombresContacto"
                       class="form-control" 
                       type="text"
                       ng-model="contacto.nombres"
                       required
                       required-message="'Campo Requerido'"
                       placeholder="Nombres"/>
            </div>				
            <div class="form-group col-md-6" >
                <label for="telefono" class="label-required">Teléfono</label>
                <input id="telefono" name ="telefono"
                       class="form-control" 
                       type="text"
                       required
                       required-message="'Campo Requerido'"
                       ng-model="contacto.telefono"
                       placeholder="Teléfono"/>
            </div>	
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="correo" class="label-required">Email</label>
                <input id="correo" name="correo"
                       class="form-control" 
                       type="text"
                       required
                       ng-pattern="email"
                       required-message="'Campo Requerido'"
                       invalid-message="'Formato de Email Inválido'"
                       ng-model="contacto.correo"
                       placeholder="Email"/>
            </div>				
            <div class="form-group col-md-6">
                <label for="celular" class="label-required">Celular</label>
                <input id="celular" name="celular"
                       class="form-control" 
                       type="text"
                       required
                       required-message="'Campo Requerido'"
                       ng-model="contacto.celular"
                       placeholder="Celular"/>
            </div>				
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="activo">Activo</label>
                <input id="check1" bs-switch  ng-model="contacto.activo" switch-active="true" type="checkbox" 
                           switch-on-text="SI" switch-off-text="NO" required-message="'Campo Requerido'"
                           ng-true-value="true"
                           ng-false-value="a">
            </div>
        </div>
    </div>
</div>

