<ul class="nav nav-tabs" style="width: 100%">
    <li style="width: 50%" ng-class="panelEditar ? '' : 'active'"><a ng-click="cancelar()">Listar Apu's</a></li>
    <li style="width: 50%" ng-class="panelEditar ? 'active' : ''" ng-show="contienePermiso(13)">
        <a ng-click="nuevo()">{{datosFormulario.id ? 'Editar Apu' : 'Nueva Apu'}}</a>
    </li>
</ul>
<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Apu</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                <th class="text-center">Código</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Activo</th>
                <th class="text-center">Total</th>
                <th style="width: 10%">
                    &nbsp;
                </th>
            </tr>
            <tr ng-repeat="row in listaApu">
                <td class="row">{{row.id}}</td>
                <td class="row" style="width:50%">{{row.descripcion}}</td>              	
                <td class="row">{{row.estadoApu.descripcion}}</td>              	
                <td class="row text-center">
                    <i class="glyphicon glyphicon-ok" ng-show="row.activo"></i>
                    <i class="glyphicon glyphicon-remove-sign" ng-hide="row.activo"></i>
                </td>
                <td class="row">{{row.valorTotal| currency:undefined:0}}</td>              	
                <td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil" uib-tooltip="Editar Apu"></span>
                    </button>                    
                    <button type="button" class="btn btn-default" ng-click="crearTemplate(row)" ng-show="row.estadoApu.id === 2">
                        <span class="glyphicon glyphicon-file" uib-tooltip="Usar Apu como Plantilla"></span>
                    </button>                    
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Apu</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar" name="formularioEditar" novalidate angular-validator
              angular-validator-submit="guardar()" autocomplete="off">
            <div class="row text-center" ng-show="mensajes !== ''">
                <div class="col-md-12 col-lg-12">
                    <div class="alert alert-danger" role="alert">{{mensajes}}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8 col-lg-8">
                    <label for="descripcion" class="label-required">Descripción</label>
                    <input id="descripcion" name="descripcion"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="datosFormulario.descripcion"
                           placeholder="Descripción"/>
                </div>
                <div class="form-group col-md-4 col-lg-4">
                    <label class="label-required">Unidad</label>
                    <div class="input-group">
                        <select id="unidad" class="form-control" name="unidad"
                                required
                                required-message="'Campo Requerido'"
                                ng-model="datosFormulario.unidad"
                                ng-options="option.descripcion for option in listaUnidades track by option.id">
                        </select>
                        <span class="input-group-btn" style="vertical-align: top">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalUnidad">
                                <i class="glyphicon glyphicon-plus" ></i> 
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3 col-lg-3" ng-show="contienePermiso(16) && datosFormulario.id">
                    <label>Revisada</label>
                    <input id="activo" 
                           type="checkbox"
                           class="form-control"
                           ng-model="datosFormulario.revisada"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 col-md-6" style="padding-left: 2px; padding-right: 2px">
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix">                            
                            <h5 class="panel-title pull-left" style="padding-top: 7.5px;">Materiales</h5>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalMateriales" >
                                    <i class="glyphicon glyphicon-plus" style="top:0px"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="resultados table table-striped table-sm table-responsive" style="font-size: 12px" ng-show="materiales.length">
                                <tr>                            
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">Unidad</th>
                                    <th class="text-center">Valor Unitario</th>
                                    <th class="text-center">Cantidad</th>
                                    <th class="text-center">Total</th>
                                    <th class="text-center"></th>
                                </tr>
                                <tr ng-repeat="row in materiales track by row.id" >
                                    <td class="row col-md-4 col-lg-4" style="vertical-align: middle">{{row.descripcion}}</td>                
                                    <td class="row text-center col-md-1 col-lg-1">{{row.unidad.descripcion}}</td>                
                                    <td class="row text-center col-md-2 col-lg-2">{{row.precio| currency:undefined:0}}</td>
                                    <td class="row text-center col-md-2 col-lg-2">
                                        <input type="number" min="1" ng-model="row.cantidad" 
                                               name="cantMaterial{{row.id}}"
                                               required
                                               required-message="'Campo Requerido'"
                                               invalid-message="'Valor inválido mínimo 1'"
                                               class="form-control" ng-change="calculaTotalMateriales()">
                                    </td>
                                    <td class="row text-center col-md-2 col-lg-2">
                                        {{row.precio * row.cantidad| currency:undefined:0}}
                                    </td>
                                    <td class="row text-center col-md-1 col-lg-1">
                                        <button type="button" class="btn btn-info btn-sm" ng-click="quitarMaterial(row)" uib-tooltip="Quitar">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table> 
                        </div>
                        <div class="panel-footer text-right"><b>Total {{totalMateriales| currency:undefined:0}}</b></div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-md-6" style="padding-left: 2px; padding-right: 2px">
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix">
                            <h5 class="panel-title pull-left" style="padding-top: 7.5px;">Herramientas</h5>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalHerramientas" >
                                    <i class="glyphicon glyphicon-plus" style="top:0px"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="resultados table table-striped table-sm table-responsive" style="font-size: 12px" ng-show="herramientas.length">
                                <tr>                            
                                    <th class="text-center">Descripción</th>
                                    <th class="text-center">Valor Unitario</th>
                                    <th class="text-center">Porcentaje %</th>
                                    <th class="text-center">Cantidad</th>
                                    <th class="text-center">Total</th>
                                    <th class="text-center"></th>
                                </tr>
                                <tr ng-repeat="herr in herramientas track by herr.id" >
                                    <td class="row col-md-4 col-lg-4" style="vertical-align: middle">{{herr.descripcion}}</td>                
                                    <td class="row col-md-2 col-lg-2" style="vertical-align: middle">{{herr.valor| currency:undefined:0}}</td>
                                    <td class="text-center row col-md-1 col-lg-1">{{herr.porcentaje}}</td>
                                    <td class="row text-center col-md-2 col-lg-2">
                                        <input type="number"  min="1" ng-model="herr.cantidad" class="form-control" 
                                               name="cantHerramienta{{herr.id}}"
                                               required
                                               required-message="'Campo Requerido'"
                                               invalid-message="'Valor inválido mínimo 1'"
                                               ng-change="calculaTotalHerramientas()">
                                    </td>
                                    <td class="row text-center col-md-2 col-lg-2">{{((herr.valor * herr.porcentaje) / 100) * herr.cantidad | currency:undefined:0}}</td>
                                    <td class="row text-center col-md-1 col-lg-1">
                                        <button type="button" class="btn btn-info btn-sm" ng-click="quitarHerramienta(herr)" uib-tooltip="Quitar">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table> 
                        </div>
                        <div class="panel-footer text-right"><b>Total {{totalHerramientas| currency:undefined:0}}</b></div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-6 col-md-6" style="padding-left: 2px; padding-right: 2px">
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix">
                            <h5 class="panel-title pull-left" style="padding-top: 7.5px;">Mano de Obra</h5>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalManoObra">
                                    <i class="glyphicon glyphicon-plus" style="top:0px"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="resultados table table-striped table-sm table-responsive" style="font-size: 12px" ng-show="manoObra.length">
                                <tr>                            
                                    <th class="text-center">Cargo</th>
                                    <th class="text-center">Valor Hora</th>
                                    <th class="text-center">Cantidad Minutos</th>
                                    <th class="text-center">Total</th>
                                    <th class="text-center"></th>
                                </tr>
                                <tr ng-repeat="row in manoObra track by row.id" >
                                    <td class="row col-md-5 col-lg-5">{{row.descripcion}}</td>                
                                    <td class="row text-center col-md-2 col-lg-2">{{row.totalHora| currency:undefined:0}}</td>
                                    <td class="row text-center col-md-2 col-lg-2">
                                        <input type="number" min="1" ng-model="row.cantidad" 
                                               name="cantManoObra{{row.id}}"
                                               required
                                               required-message="'Campo Requerido'"
                                               invalid-message="'Valor inválido mínimo 1'"
                                               onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                               class="form-control" ng-change="calculaTotalManoObra()">
                                    </td>
                                    <td class="row text-center col-md-2 col-lg-2">{{(row.totalHora / 60) * row.cantidad | currency:undefined:0}}</td>
                                    <td class="row text-center col-md-1 col-lg-1">
                                        <button type="button" class="btn btn-info btn-sm" ng-click="quitarManoObra(row)" uib-tooltip="Quitar">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table> 
                        </div>
                        <div class="panel-footer text-right"><b>Total {{totalManoObra| currency:undefined:0}}</b></div>
                    </div>
                </div>	
                <div class="form-group col-md-6 col-md-6" >
                    <label>Total</label><br />
                    <h3>{{totalMateriales + totalHerramientas + totalManoObra| currency:undefined:0}}</h3>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-default" ng-click="cancelar()"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                    <button type="submit" class="btn btn-default" ><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="modalMateriales" class="modal fade bs-example-modal-lg" role="dialog" tabindex="-1" >
    <div class="modal-dialog modal-lg" >

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar Material</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'partials/comun/BuscadorMateriales.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

<div id="modalHerramientas" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar Herramienta</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'partials/comun/BuscadorHerramientas.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

<div id="modalManoObra" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar Mano de Obra</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'partials/comun/BuscadorManoObra.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>


<div id="modalUnidad" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar Unidad</h4>
            </div>
            <form id="formularioUsuario" name="formularioCargo" novalidate angular-validator
                  angular-validator-submit="guardarUnidad()">
                <div class="modal-body">
                    <label class="label-required">Descripción</label>
                    <input id="descripcionCargo" name="descripcionCargo"
                           class="form-control" 
                           type="text"
                           ng-model="unidad.descripcion"
                           required
                           required-message="'Campo Requerido'"
                           placeholder="Descripción"/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="glyphicon glyphicon-remove-sign"></i> Cerrar
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>