<ul class="nav nav-tabs" style="width: 100%">
    <li style="width: 50%" ng-class="panelEditar ? '' : 'active'"><a ng-click="cancelar()">Listar Apu's</a></li>
    <li style="width: 50%" ng-class="panelEditar ? 'active' : ''"><a ng-click="nuevo()">{{datosFormulario.id ? 'Editar Apu' : 'Nueva Apu'}}</a></li>
</ul>

<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Apu</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                <th>Codigo</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Total</th>
                <th style="width: 10%">
                    &nbsp;
                </th>
            </tr>
            <tr ng-repeat="row in listaApu">
                <td class="row">{{row.id}}</td>
                <td class="row">{{row.descripcion}}</td>              	
                <td class="row">{{row.estadoApu.descripcion}}</td>              	
                <td class="row">{{row.valorTotal| currency}}</td>              	
                <td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil" title="Editar Apu"></span>
                    </button>                    
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Apu</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar" name="formularioEditar" novalidate angular-validator
              angular-validator-submit="guardar()" autocomplete="off">
            <div class="row text-center" ng-show="mensajes !== ''">
                <div class="col-md-12 col-lg-12">
                    <div class="alert alert-danger" role="alert">{{mensajes}}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8 col-lg-8">
                    <label for="descripcion" class="label-required">Descripción</label>
                    <input id="descripcion" name="descripcion"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="datosFormulario.descripcion"
                           placeholder="Descripcion"/>
                </div>
                <div class="form-group col-md-4 col-lg-4">
                    <label for="estado" class="label-required">Estado</label>
                    <select id="estado" class="form-control" name="estado"
                            required
                            required-message="'Campo Requerido'"
                            ng-model="datosFormulario.estadoApu"
                            ng-options="option.descripcion for option in listaEstado track by option.id">
                    </select>
                </div>
            </div> 
            <div class="row">
                <div class="form-group col-md-8 col-lg-8">
                    <label>Total</label><br />
                    {{totalMateriales + totalHerramientas + totalManoObra| currency}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 col-md-4" style="padding-left: 2px; padding-right: 2px">
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix">                            
                            <h5 class="panel-title pull-left" style="padding-top: 7.5px;">Materiales</h5>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalMateriales" >
                                    <i class="glyphicon glyphicon-plus" style="top:0px"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="resultados table table-striped table-sm table-responsive" style="font-size: 12px" ng-show="materiales.length">
                                <tr>                            
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">Precio</th>
                                    <th class="text-center">Cantidad</th>
                                    <th class="text-center"></th>
                                </tr>
                                <tr ng-repeat="row in materiales track by row.id" >
                                    <td class="row text-center col-lg-5 col-lg-5">{{row.descripcion}}</td>                
                                    <td class="row text-center col-lg-3 col-lg-3">{{row.precio| currency}}</td>
                                    <td class="row text-center col-lg-3 col-lg-3">
                                        <input type="number" min="1" ng-model="row.cantidad" class="form-control" ng-change="calculaTotalMateriales()">
                                    </td>
                                    <td class="row text-center col-lg-1 col-lg-1">
                                        <button type="button" class="btn btn-info btn-sm" ng-click="quitarMaterial(row)" title="Quitar">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table> 
                        </div>
                        <div class="panel-footer text-right"><b>Total {{totalMateriales| currency}}</b></div>
                    </div>
                </div>
                <div class="form-group col-md-4 col-md-4" style="padding-left: 2px; padding-right: 2px">
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix">
                            <h5 class="panel-title pull-left" style="padding-top: 7.5px;">Herramientas</h5>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalHerramientas" >
                                    <i class="glyphicon glyphicon-plus" style="top:0px"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="resultados table table-striped table-sm table-responsive" style="font-size: 12px" ng-show="herramientas.length">
                                <tr>                            
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">Precio</th>
                                    <th class="text-center">Cantidad</th>
                                    <th class="text-center"></th>
                                </tr>
                                <tr ng-repeat="herr in herramientas track by herr.id" >
                                    <td class="row text-center col-lg-5 col-lg-5">{{herr.descripcion}}</td>                
                                    <td class="row text-center col-lg-3 col-lg-3">{{herr.valor| currency}}</td>
                                    <td class="row text-center col-lg-3 col-lg-3">
                                        <input type="number" min="1" ng-model="herr.cantidad" class="form-control" ng-change="calculaTotalHerramientas()">
                                    </td>
                                    <td class="row text-center col-lg-1 col-lg-1">
                                        <button type="button" class="btn btn-info btn-sm" ng-click="quitarHerramienta(herr)" title="Quitar">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table> 
                        </div>
                        <div class="panel-footer text-right"><b>Total {{totalHerramientas| currency}}</b></div>
                    </div>
                </div>
                <div class="form-group col-md-4 col-md-4" style="padding-left: 2px; padding-right: 2px">
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix">
                            <h5 class="panel-title pull-left" style="padding-top: 7.5px;">Mano de Obra</h5>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalManoObra">
                                    <i class="glyphicon glyphicon-plus" style="top:0px"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="resultados table table-striped table-sm table-responsive" style="font-size: 12px" ng-show="manoObra.length">
                                <tr>                            
                                    <th class="text-center">Cargo</th>
                                    <th class="text-center">Hora</th>
                                    <th class="text-center">Cantidad</th>
                                    <th class="text-center"></th>
                                </tr>
                                <tr ng-repeat="row in manoObra track by row.id" >
                                    <td class="row text-center col-lg-5 col-lg-5">{{row.descripcion}}</td>                
                                    <td class="row text-center col-lg-3 col-lg-3">{{row.totalHora| currency}}</td>
                                    <td class="row text-center col-lg-3 col-lg-3">
                                        <input type="number" min="1" ng-model="row.cantidad" class="form-control" ng-change="calculaTotalManoObra()">
                                    </td>
                                    <td class="row text-center col-lg-1 col-lg-1">
                                        <button type="button" class="btn btn-info btn-sm" ng-click="quitarManoObra(row)" title="Quitar">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table> 
                        </div>
                        <div class="panel-footer text-right"><b>Total {{totalManoObra| currency}}</b></div>
                    </div>
                </div>	
            </div>	
            <div class="row"> 
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-default" ng-click="cancelar()"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                    <button type="submit" class="btn btn-default" ><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="modalMateriales" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar Material</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'partials/comun/BuscadorMateriales.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

<div id="modalHerramientas" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar Herramienta</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'partials/comun/BuscadorHerramientas.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

<div id="modalManoObra" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar Mano de Obra</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'partials/comun/BuscadorManoObra.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
