<div class="title-page" style="width: 100%"><i class="glyphicon glyphicon-list-alt"></i> Gestión de Cotizaciones</div>
<div class="page-header"></div>
<ul class="nav nav-tabs nav-justified" style="width: 100%">
    <li ng-class="panelEditar ? '' : 'active'"><a ng-click="cancelar()">Listar Cotizaciones</a></li>
    <li ng-class="panelEditar ? 'active' : ''"><a ng-click="nuevo()">Nueva Cotizacion</a></li>
</ul>
<section class="content-page" ng-hide="panelEditar">
    <table ng-table="tableParams" class="table" show-filter="true">
        <colgroup>
            <col width="15%" />
            <col width="30%" />
            <col width="30%" />
            <col width="15%" />
            <col width="10%" />
        </colgroup>
        <tr ng-repeat="row in $data">
            <td title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'">{{row.id}}</td>
            <td style="width:30%" title="'Cliente'" filter="{ cliente: 'text'}" sortable="'cliente'">{{row.cliente.nombre}}</td>
            <td style="width:30%" title="'Proyecto'" filter="{ proyecto: 'text'}" sortable="'cliente'">{{row.proyecto}}</td>
            <td style="width:15%" title="'ciudad'"  sortable="'cliente'">{{row.ciudad.nombre}}</td>
            <td style="width:15%" title="'Horario Trabajo'" sortable="'cliente'">{{row.horarioTrabajo.descripcion}}</td>
            <td style="width:10%" class="text-center">
                <button type="button" class="btn btn-default" ng-click="editarCotizacion(row)">
                    <span class="glyphicon glyphicon-pencil" uib-tooltip="Editar Cotizacion"></span>
                </button>     
            </td>
        </tr>
    </table>
    <br />
    <br />
</section>

<section class="content-page" ng-show="panelEditar">
    <form id="formularioUsuario" name="formularioUsuario" novalidate angular-validator
          angular-validator-submit="guardar()" autocomplete="off">
        <section ng-show="paginaActual === 1">
            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label class="label-required">Proyecto</label>
                    <input id="nombres" name="nombres"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="cotizacion.proyecto"
                           placeholder="Proyecto"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label for="cliente" class="label-required">Cliente</label>
                    <div class="input-group">
                        <select id="cliente" class="form-control" name="cliente" 
                                required
                                required-message="'Campo Requerido'"
                                ng-model="cotizacion.cliente"
                                ng-change="listarContactos(cotizacion.cliente.id)"
                                ng-options="option.nombre for option in clientes track by option.id">
                        </select>
                        <span class="input-group-btn" style="vertical-align: top">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#agregarCliente">
                                <i class="glyphicon glyphicon-plus" ></i> 
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <label for="cliente" class="label-required">Contacto</label>
                    <div class="input-group">
                        <select id="contacto" class="form-control" name="contacto" 
                                required
                                required-message="'Campo Requerido'"
                                ng-model="cotizacion.contacto"
                                ng-options="option.nombres for option in contactos track by option.id">
                        </select>
                        <span class="input-group-btn" style="vertical-align: top">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#agregarContacto">
                                <i class="glyphicon glyphicon-plus" ></i> 
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6" ng-show="cotizacion.cliente">
                    <b>Dirección:</b> {{cotizacion.cliente.direccion}}<br/>
                    <b>Telefono:</b> {{cotizacion.cliente.telefono}}
                </div>
                <div class="form-group col-lg-6 col-md-6" ng-show="cotizacion.contacto">
                    <b>Email:</b> {{cotizacion.contacto.correo}}<br/>
                    <b>Celular:</b> {{cotizacion.contacto.celular}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 col-md-12">
                    <hr>
                </div>   
                <div class="form-group col-lg-12 col-md-12">
                    <b>Condiciones Comerciales</b>
                </div>   
            </div> 

            <div class="row">
                <div class="form-group col-lg-4 col-md-4">
                    <label for="ciudad" class="label-required">Ciudad</label>
                    <select id="ciudad" class="form-control" name="ciudad" 
                            required
                            required-message="'Campo Requerido'"
                            ng-model="cotizacion.ciudad"
                            ng-options="option.nombre for option in listaCiudades track by option.id">
                    </select>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <label for="horario" class="label-required">Horario Trabajo</label>
                    <select id="horario" class="form-control" name="horario" 
                            required
                            required-message="'Campo Requerido'"
                            ng-model="cotizacion.horarioTrabajo"
                            ng-options="option.descripcion for option in listaHorarios track by option.id">
                    </select>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <label for="tiempo" class="label-required">Tiempo Entrega</label>
                    <input id="tiempo" name="tiempo"
                           class="form-control" 
                           required
                           required-message="'Campo Requerido'"
                           type="text"
                           ng-model="cotizacion.tiempoEntrega"
                           placeholder="Tiempo Entrega"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label for="validez" class="label-required">Validez Oferta</label>
                    <input id="validez" name="validez"
                           class="form-control" 
                           required
                           required-message="'Campo Requerido'"
                           type="text"
                           ng-model="cotizacion.validez"
                           placeholder="Validez Oferta"/>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <label for="validez" class="label-required">Forma de Pago</label>
                    <input id="tiempo" name="pago"
                           class="form-control" 
                           required
                           required-message="'Campo Requerido'"
                           type="text"
                           ng-model="cotizacion.formaPago"
                           placeholder="Forma de Pago"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label for="garantia" class="label-required">Garantia</label>
                    <textarea cols="3" id="garantia" name="garantia"
                              class="form-control" 
                              required
                              required-message="'Campo Requerido'"
                              ng-model="cotizacion.garantia"
                              placeholder="Garantia"></textarea>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <label for="observaciones" class="label-required">Observaciones</label>
                    <textarea cols="3" id="observaciones" name="observaciones"
                              class="form-control" 
                              required
                              required-message="'Campo Requerido'"
                              ng-model="cotizacion.observaciones"
                              placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 text-right">
                    <button type="button" class="btn btn-default" ng-click="pagina(2)">
                        <i class="glyphicon glyphicon-arrow-right"></i> Siguiente
                    </button>
                </div>
            </div>
        </section>
        <section ng-show="paginaActual === 2">
            <div class="row">
                <div class="form-group col-lg-12 col-md-12">
                    <b>Elementos Cotización</b>
                </div> 
            </div>
            <div class="row">
                <div class="form-group col-lg-8 col-md-8">
                    <label for="capitulo" class="label-required">Capitulo</label>
                    <div class="input-group">
                        <input id="capitulo" name="capitulo"
                               class="form-control" 
                               required capitalize
                               required-message="'Campo Requerido'"
                               type="text"
                               ng-model="capitulo"
                               placeholder="Capitulo"/>
                        <span class="input-group-btn" style="vertical-align: top">
                            <button type="button" class="btn btn-info" ng-click="agregarCapitulo()">
                                <i class="glyphicon glyphicon-plus" ></i> 
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-repeat="cap in cotizacion.capitulos" ng-show="cotizacion.capitulos" class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <h5 class="panel-title pull-left" style="padding-top: 7.5px;">{{cap.descripcion}}</h5>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#buscarApu" ng-click="seleccionarCapitulo(cap)">
                                <i class="glyphicon glyphicon-plus" style="top:0px"></i>
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="resultados table table-striped table-sm" style="font-size: 12px"  ng-show="cap.items.length">
                            <thead>
                                <tr>
                                    <th style="width: 40%">Descripción</th>
                                    <th style="width: 5%">Unidad</th>
                                    <th style="width: 10%">Cantidad</th>
                                    <th style="width: 10%">Materiales</th>
                                    <th style="width: 10%">Mano Obra</th>
                                    <th style="width: 10%">Valor Unidad</th>
                                    <th style="width: 10%">Valor Total</th>
                                    <th style="width: 5%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in cap.items">
                                    <td class="row">{{item.descripcion}}</td>
                                    <td class="row">{{item.unidad.descripcion}}</td>
                                    <td class="row">
                                        <input type="number" ng-model="item.cantidad" 
                                               class="form-control" ng-change="calculaSubtotal(cap)"/>
                                    </td>
                                    <td class="row">{{item.totalMaterialesViatico| currency:undefined:0}}</td>              
                                    <td class="row">{{item.totalManoObraViatico| currency:undefined:0}}</td>              
                                    <td class="row">{{item.valorTotal| currency:undefined:0}}</td>              
                                    <td class="row">{{item.valorTotal * item.cantidad| currency:undefined:0}}</td>              
                                    <td class="row text-center">
                                        <button type="button" class="btn btn-info btn-sm" ng-click="eliminarItem(cap, item)" uib-tooltip="Quitar">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="form-group col-lg-12 col-md-12 text-right">
                                Subtotal:  {{cap.total| currency:undefined:0}}
                            </div>
                        </div>
                    </div>
                </div>                   
            </div> 
            <div class="row">
                <div class="form-group col-md-offset-8 col-lg-offset-8 col-lg-4 col-md-4 text-right">
                    <label>Tipo Impuesto</label>
                    <select id="tipoImpuesto" class="form-control" name="contacto" 
                            required
                            required-message="'Campo Requerido'"
                            ng-model="cotizacion.tipoImpuesto;"
                            ng-change="buscarImpuestosPorTipo(cotizacion.tipoImpuesto)">
                        <option ng-repeat="tipo in tiposImpuestos" >{{tipo}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-offset-8 col-lg-offset-8 col-lg-4 col-md-4 text-right">
                    <table class="resultados table table-striped table-sm" style="font-size: 12px" 
                           ng-show="cotizacion.impuestos.length">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>% Porcentaje</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in cotizacion.impuestos">
                                <td class="row">{{item.descripcion}}</td>
                                <td class="row" ng-show="cotizacion.tipoImpuesto == 'IVA'">
                                    {{item.porcentaje}}
                                </td>
                                <td class="row" ng-hide="cotizacion.tipoImpuesto == 'IVA'">
                                    <input type="text" ng-model="item.porcentaje" 
                                           class="form-control" ng-change="calculaTotal()"/>
                                </td>
                                <td class="row">{{(item.porcentaje * cotizacion.subTotal)/100 | currency:undefined:0 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 text-right">
                    <h3>Sub Total: {{cotizacion.subTotal | currency:undefined:0}}</h3>
                    <h3>Impuestos: {{cotizacion.valorImpuestos | currency:undefined:0}}</h3>
                    <h3>Total: {{cotizacion.total | currency:undefined:0}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 text-right">
                    <button type="button" class="btn btn-default" ng-click="pagina(1)">
                        <i class="glyphicon glyphicon-arrow-left"></i> Atras
                    </button>
                    <button type="button" class="btn btn-default" ng-click="pagina(3)">
                        <i class="glyphicon glyphicon-arrow-right"></i> Siguiente
                    </button>
                </div>
            </div>
        </section>
        <section ng-show="paginaActual === 3">
            Gastos Administrativos y Financiación
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <table class="resultados table table-striped">
                        <tr>
                            <th class="text-center">Descripción</th>
                            <th class="text-center">Porcentaje %</th>
                            <th class="text-center">
                                <button type="button" class="btn btn-default btn-sm" 
                                        ng-click="agregarGasto()" uib-tooltip="Agregar Gasto Administrativo">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                            </th>
                        </tr>
                        <tr ng-repeat="row in cotizacion.gastosAdministrativos track by row.id">
                            <td>
                                <input type="text" class="form-control" ng-model="row.descripcion" />
                            </td>
                            <td class="text-center">
                                <input type="text" class="form-control" ng-model="row.porcentaje" ng-change="totalGastos()"/>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm" 
                                        ng-click="quitarGasto(row)" uib-tooltip="Quitar">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">
                                Margen Total: {{valorGastos}} %
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 text-right">
                    <button type="button" class="btn btn-default" ng-click="pagina(2)">
                        <i class="glyphicon glyphicon-arrow-left"></i> Atras
                    </button>                    
                </div>
            </div>
        </section>



        <div class="row">
            <div class="form-group col-lg-12 col-md-12 text-center">
                <div class="form-group col-lg-12 col-md-12 text-right">
                    <button type="button" class="btn btn-default" ng-click="guardarCotizacion()">
                        <i class="glyphicon glyphicon-save"></i> Guardar
                    </button>
                </div>
            </div>
        </div>

    </form>    
</section>

<div id="buscarApu" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar APU</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'partials/comun/BuscadorApu.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

<div id="agregarContacto" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="formularioContacto" name="formularioContacto" novalidate angular-validator
                  angular-validator-submit="guardarContacto()" autocomplete="off">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Contacto</h4>
                </div>
                <div class="modal-body">
                    <div ng-include="'partials/comun/AgregarContacto.html'"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            ng-click="formularioContacto.reset()">Cerrar</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="agregarCliente" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="formularioCliente" name="formularioCliente" novalidate angular-validator
                  angular-validator-submit="guardarCliente()" autocomplete="off">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Cliente</h4>
                </div>
                <div class="modal-body">
                    <div ng-include="'partials/comun/AgregarCliente.html'"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            ng-click="formularioCliente.reset()">Cerrar</button>
                </div>
            </form>
        </div>

    </div>
</div>



