<div class="title-page" style="width: 100%"><i class="glyphicon glyphicon-list-alt"></i> Gestión de Cotizaciones</div>
<div class="page-header"></div>
<ul class="nav nav-tabs nav-justified" style="width: 100%">
    <li ng-class="panelEditar ? '' : 'active'"><a ng-click="cancelar()">Listar Cotizaciones</a></li>
    <li ng-class="panelEditar ? 'active' : ''"><a ng-click="nuevo()">Nueva Cotizacion</a></li>
</ul>
<section class="content-page" ng-hide="panelEditar">
    <table ng-table="tableParams" class="table" show-filter="true">
        <colgroup>
            <col width="15%" />
            <col width="30%" />
            <col width="30%" />
            <col width="15%" />
            <col width="10%" />
        </colgroup>
        <tr ng-repeat="row in $data">
            <td title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'">{{row.id}}</td>
            <td style="width:30%" title="'Cliente'" filter="{ cliente: 'text'}" sortable="'cliente'">{{row.cliente.nombre}}</td>
            <td style="width:30%" title="'Proyecto'" filter="{ proyecto: 'text'}" sortable="'cliente'">{{row.proyecto}}</td>
            <td style="width:15%" title="'ciudad'"  sortable="'cliente'">{{row.ciudad.nombre}}</td>
            <td style="width:15%" title="'Horario Trabajo'" sortable="'cliente'">{{row.horarioTrabajo.descripcion}}</td>
            <td style="width:10%" class="text-center">
                <button type="button" class="btn btn-default" ng-click="editar(row)">
                    <span class="glyphicon glyphicon-pencil" uib-tooltip="Editar Cotizacion"></span>
                </button>     
            </td>
        </tr>
    </table>
    <br />
    <br />
</section>

<section class="content-page" ng-show="panelEditar">
    <form id="formularioUsuario" name="formularioUsuario" novalidate angular-validator
          angular-validator-submit="guardar()" autocomplete="off">
        <section ng-show="paginaActual === 1">
            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label class="label-required">Proyecto</label>
                    <input id="nombres" name="nombres"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="cotizacion.proyecto"
                           placeholder="Proyecto"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label for="cliente" class="label-required">Cliente</label>
                    <div class="input-group">
                        <select id="cliente" class="form-control" name="cliente" 
                                required
                                required-message="'Campo Requerido'"
                                ng-model="cotizacion.cliente"
                                ng-change="listarContactos(cotizacion.cliente.id)"
                                ng-options="option.nombre for option in clientes track by option.id">
                        </select>
                        <span class="input-group-btn" style="vertical-align: top">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalCLiente">
                                <i class="glyphicon glyphicon-plus" ></i> 
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <label for="cliente" class="label-required">Contacto</label>
                    <div class="input-group">
                        <select id="contacto" class="form-control" name="contacto" 
                                required
                                required-message="'Campo Requerido'"
                                ng-model="cotizacion.contacto"
                                ng-options="option.nombres for option in contactos track by option.id">
                        </select>
                        <span class="input-group-btn" style="vertical-align: top">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalCLiente">
                                <i class="glyphicon glyphicon-plus" ></i> 
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6" ng-show="cotizacion.cliente">
                    <b>Dirección:</b> {{cotizacion.cliente.direccion}}<br/>
                    <b>Telefono:</b> {{cotizacion.cliente.telefono}}
                </div>
                <div class="form-group col-lg-6 col-md-6" ng-show="cotizacion.contacto">
                    <b>Email:</b> {{cotizacion.contacto.correo}}<br/>
                    <b>Celular:</b> {{cotizacion.contacto.celular}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 col-md-12">
                    <hr>
                </div>   
                <div class="form-group col-lg-12 col-md-12">
                    <b>Condiciones Comerciales</b>
                </div>   
            </div> 

            <div class="row">
                <div class="form-group col-lg-4 col-md-4">
                    <label for="ciudad" class="label-required">Ciudad</label>
                    <select id="ciudad" class="form-control" name="ciudad" 
                            required
                            required-message="'Campo Requerido'"
                            ng-model="cotizacion.ciudad"
                            ng-options="option.nombre for option in listaCiudades track by option.id">
                    </select>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <label for="horario" class="label-required">Horario Trabajo</label>
                    <select id="horario" class="form-control" name="horario" 
                            required
                            required-message="'Campo Requerido'"
                            ng-model="cotizacion.horarioTrabajo"
                            ng-options="option.descripcion for option in listaHorarios track by option.id">
                    </select>
                </div>
                <div class="form-group col-lg-4 col-md-4">
                    <label for="tiempo" class="label-required">Tiempo Entrega</label>
                    <input id="tiempo" name="tiempo"
                           class="form-control" 
                           required
                           required-message="'Campo Requerido'"
                           type="text"
                           ng-model="cotizacion.tiempoEntrega"
                           placeholder="Tiempo Entrega"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label for="validez" class="label-required">Validez Oferta</label>
                    <input id="validez" name="validez"
                           class="form-control" 
                           required
                           required-message="'Campo Requerido'"
                           type="text"
                           ng-model="cotizacion.validez"
                           placeholder="Validez Oferta"/>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <label for="validez" class="label-required">Forma de Pago</label>
                    <input id="tiempo" name="pago"
                           class="form-control" 
                           required
                           required-message="'Campo Requerido'"
                           type="text"
                           ng-model="cotizacion.formaPago"
                           placeholder="Forma de Pago"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label for="garantia" class="label-required">Garantia</label>
                    <textarea cols="3" id="garantia" name="garantia"
                              class="form-control" 
                              required
                              required-message="'Campo Requerido'"
                              ng-model="cotizacion.garantia"
                              placeholder="Garantia"></textarea>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <label for="observaciones" class="label-required">Observaciones</label>
                    <textarea cols="3" id="observaciones" name="observaciones"
                              class="form-control" 
                              required
                              required-message="'Campo Requerido'"
                              ng-model="cotizacion.observaciones"
                              placeholder="Observaciones"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 text-right">
                    <button type="button" class="btn btn-default" ng-click="guardarCotizacion()">
                        <i class="glyphicon glyphicon-save"></i> Guardar
                    </button>
                    <button type="button" class="btn btn-default" ng-click="pagina(2)">
                        <i class="glyphicon glyphicon-arrow-right"></i> Siguiente
                    </button>
                </div>
            </div>
        </section>
        <section ng-show="paginaActual === 2">
            <div class="row">
                <div class="form-group col-lg-12 col-md-12">
                    <b>Elementos Cotización</b>
                </div> 
            </div>
            <div class="row">
                <div class="form-group col-lg-8 col-md-8">
                    <label for="capitulo" class="label-required">Capitulo</label>
                    <div class="input-group">
                        <input id="capitulo" name="capitulo"
                               class="form-control" 
                               required capitalize
                               required-message="'Campo Requerido'"
                               type="text"
                               ng-model="capitulo"
                               placeholder="Capitulo"/>
                        <span class="input-group-btn" style="vertical-align: top">
                            <button type="button" class="btn btn-info" ng-click="agregarCapitulo()">
                                <i class="glyphicon glyphicon-plus" ></i> 
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-repeat="cap in datosFormulario.capitulos" ng-show="datosFormulario.capitulos" class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <h5 class="panel-title pull-left" style="padding-top: 7.5px;">{{cap.nombre}}</h5>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#buscarApu" >
                                <i class="glyphicon glyphicon-plus" style="top:0px"></i>
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="resultados table table-striped">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Unidad</th>
                                    <th>Material</th>
                                    <th>Mano de Obra</th>
                                    <th>Valor Unitario</th>
                                    <th>Cantidad</th>
                                    <th>Valor Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="row">Suministro</td>
                                    <td class="row">Metro</td>
                                    <td class="row">$6.000</td>              
                                    <td class="row">$1.000</td>              
                                    <td class="row">$2.000</td>              
                                    <td class="row">2</td>              
                                    <td class="row">$4.000</td>              
                                    <td class="row text-center">
                                        <button type="button" class="btn btn-info btn-sm" ng-click="quitarMaterial(row)" uib-tooltip="Quitar">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                   
            </div>                   
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 text-right">
                    <button type="button" class="btn btn-default" ng-click="pagina(1)">
                        <i class="glyphicon glyphicon-arrow-left"></i> Atras
                    </button>
                    <button type="button" class="btn btn-default" ng-click="pagina(3)">
                        <i class="glyphicon glyphicon-arrow-right"></i> Siguiente
                    </button>
                </div>
            </div>
        </section>
        <section ng-show="paginaActual === 3">
            Finaciación
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 text-right">
                    <button type="button" class="btn btn-default" ng-click="pagina(2)">
                        <i class="glyphicon glyphicon-arrow-left"></i> Atras
                    </button>                    
                </div>
            </div>
        </section>
    </form>    
</section>

<div id="buscarApu" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar APU</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'partials/comun/BuscadorApu.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

