<ul class="nav nav-tabs" style="width: 100%">
    <li style="width: 50%" ng-class="panelEditar ? '' : 'active'"><a ng-click="cancelar()">Listar Materiales</a></li>
    <li style="width: 50%" ng-class="panelEditar ? 'active' : ''"><a ng-click="nuevo()">Nuevo Material</a></li>
</ul>

<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de material</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                <th colspan="3"></th>
                <th class="text-right" style="vertical-align: middle">Buscar</th>
                <th colspan="2">
                    <input id="precio" class="form-control" type="text" ng-model="datosFormulario.filtro" placeholder="Descripcion"/>
                </th>
            </tr>
            <tr>
                <th class="text-center">Descripción</th>
                <th class="text-center">Marca</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Unidad</th>
                <!--<th class="text-center">Activo</th>-->
                <th class="text-center">
                    Editar
                </th>
            </tr>
            <tr ng-repeat="row in lista">
                <td>{{row.descripcion}}</td>
                <td class="row text-center">{{row.marca}}</td>
                <td class="row text-center">{{row.precio| currency}}</td>
                <td class="row text-center">{{row.unidad}}</td>
<!--                <td class="row text-center" style="width: 10%">
                    <i class="glyphicon glyphicon-ok" ng-show="row.activo"></i>
                    <i class="glyphicon glyphicon-remove-sign" ng-hide="row.activo"></i>
                </td>-->
                <td class="row text-center" style="width: 10%">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil" title="Editar Material"></span>
                    </button>                    
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de material</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar" name="formularioEditar" novalidate angular-validator
              angular-validator-submit="guardar()" autocomplete="off">
            <div class="row">
                <div class="form-group col-md-5 col-md-offset-1" ng-class="errores.descripcion ? 'error' : ''">
                    <label for="descripcion" class="label-required">Descripción</label>
                    <input id="descripcion" capitalize name="descripcion"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="datosFormulario.descripcion"
                           placeholder="Descripcion"/>
                    <div ng-show="errores.descripcion">{{errores.descripcion}}</div>
                </div>
                <div class="form-group col-md-5" ng-class="errores.marca ? 'error' : ''">
                    <label for="marca" class="label-required">Marca</label>
                    <input id="marca" capitalize name="marca"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="datosFormulario.marca"
                           placeholder="Marca"/>
                    <div ng-show="errores.marca">{{errores.marca}}</div>
                </div>
            </div>				
            <div class="row">
                <div class="form-group col-md-5 col-md-offset-1" ng-class="errores.precio ? 'error' : ''">
                    <label for="precio" class="label-required">Precio</label>
                    <input id="Precio" name="precio"
                           class="form-control" 
                           type="number"
                           min="1"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="datosFormulario.precio"
                           placeholder="Precio"/>
                    <div ng-show="errores.precio">{{errores.precio}}</div>
                </div>
                <div class="form-group col-md-5" ng-class="errores.unidad ? 'error' : ''">
                    <label for="unidad" class="label-required">Unidad</label>
                    <input id="unidad" capitalize name="unidad"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="datosFormulario.unidad"
                           placeholder="Unidad"/>
                    <div ng-show="errores.unidad">{{errores.unidad}}</div>
                </div>
            </div>				
<!--            <div class="row">
                <div class="form-group col-md-5 col-md-offset-1">
                    <label for="activo">Activo</label>
                    <input id="activo" 
                           class="form-control" 
                           type="checkbox"
                           ng-model="datosFormulario.activo"/>
                </div>
            </div> -->
            <div class="row"> 
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-default" ng-click="cancelar()"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                    <button type="submit" class="btn btn-default" ><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

