<ul class="nav nav-tabs" style="width: 100%">
    <li style="width: 50%" ng-class="panelEditar ? '' : 'active'"><a ng-click="cancelar()">Listar Materiales</a></li>
    <li style="width: 50%" ng-class="panelEditar ? 'active' : ''"><a ng-click="nuevo()">Nuevo Material</a></li>
</ul>

<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Materiales</div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-lg-6 col-md-6">
                <label>Nombre</label>
                <input id="descripcion" 
                           class="form-control" 
                           type="text"
                           ng-model="nombre"
                           placeholder="Nombre"
                           ng-change="listar()"/>
            </div>            
        </div>
        <div class="row" ng-hide="lista.length">
            <div class="form-group col-lg-12 col-md-12 text-center">
                <div class="alert alert-info" role="alert">No se encontraron Materiales</div>
            </div>
        </div>
        <table class="resultados table table-striped" ng-show="lista.length">
            <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Marca</th>
                <th class="text-center">Unidad</th>
                <th class="text-center">Valor Unitario</th>
                <th class="text-center">
                    Editar
                </th>
            </tr>
            <tr ng-repeat="row in lista">
                <td>{{row.descripcion}}</td>
                <td class="row text-center">{{row.marca}}</td>
                <td class="row text-center">{{row.unidad}}</td>
                <td class="row">{{row.precio| currency:undefined:0}}</td>
                <td class="row text-center" style="width: 10%">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil" uib-tooltip="Editar Material"></span>
                    </button>                    
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Materiales</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar" name="formularioEditar" novalidate angular-validator
              angular-validator-submit="guardar()" autocomplete="off">
            <div class="row">
                <div class="form-group col-md-5 col-md-offset-1" ng-class="errores.descripcion ? 'error' : ''">
                    <label for="descripcion" class="label-required">Nombre</label>
                    <input id="descripcion" name="descripcion"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="datosFormulario.descripcion"
                           placeholder="Nombre"/>
                    <div ng-show="errores.descripcion">{{errores.descripcion}}</div>
                </div>
                <div class="form-group col-md-5" ng-class="errores.marca ? 'error' : ''">
                    <label for="marca" class="label-required">Marca</label>
                    <input id="marca" name="marca"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="datosFormulario.marca"
                           placeholder="Marca"/>
                    <div ng-show="errores.marca">{{errores.marca}}</div>
                </div>
            </div>				
            <div class="row">
                <div class="form-group col-md-5 col-md-offset-1" ng-class="errores.unidad ? 'error' : ''">
                    <label for="unidad" class="label-required">Unidad</label>
                    <input id="unidad" name="unidad"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="datosFormulario.unidad"
                           placeholder="Unidad"/>
                    <div ng-show="errores.unidad">{{errores.unidad}}</div>
                </div>
                <div class="form-group col-md-5 " ng-class="errores.precio ? 'error' : ''">
                    <label for="precio" class="label-required">Valor Unitario</label>
                    <input id="Precio" name="precio"
                           class="form-control" 
                           type="number"
                           min="1"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="datosFormulario.precio"
                           placeholder="Valor Unitario"/>
                    <div ng-show="errores.precio">{{errores.precio}}</div>
                </div>
            </div>				
<!--            <div class="row">
                <div class="form-group col-md-5 col-md-offset-1">
                    <label for="activo">Activo</label>
                    <input id="activo" 
                           class="form-control" 
                           type="checkbox"
                           ng-model="datosFormulario.activo"/>
                </div>
            </div> -->
            <div class="row"> 
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-default" ng-click="cancelar()"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                    <button type="submit" class="btn btn-default" ><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

