
				
<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de SalariosRecargos</div>
    <div class="panel-body">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo SalariosRecargos</button>
		</div>
        <table class="resultados table table-striped">
            <tr>
                <th>
                    descripcion
                </th>
                <th>
                    unidad
                </th>
                <th>
                    cantidad
                </th>
                <th>
                    valor
                </th>
                <th>
                    total
                </th>
                <th>
                    activo
                </th>
                
				<th>
				    cargo
				</th>
				
				<th>
                    <input class="form-control" ng-model="q"  placeholder="Buscar"/>
                </th>
            </tr>
            <tr dir-paginate="row in lista|filter: q|itemsPerPage:10">
                	<td>{{row.descripcion}}</td>
                
                	<td>{{row.unidad}}</td>
                
                	<td>{{row.cantidad}}</td>
                
                	<td>{{row.valor}}</td>
                
                	<td>{{row.total}}</td>
                
                	<td><span class="glyphicon" ng-class="row.activo?'glyphicon-ok':'glyphicon-remove'"></span>{{}}</td>
                
                
					<td class="row">{{row.cargo.nombre}}</td>     
				         
				<td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
					<button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
		<div dir-pagination-controls></div>
		<br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de SalariosRecargos</div>
    <div class="panel-body">
	    				
	    <div class="form-group col-md-6" ng-class="errores.descripcion?'error':''">
	        <label for="descripcion">descripcion</label>
	        <input id="descripcion" 
	               class="form-control" 
	    		   type="text"
	               ng-model="datosFormulario.descripcion"
	    		   placeholder="descripcion"/>
	        <div ng-show="errores.descripcion">{{errores.descripcion}}</div>
	    </div>				
	    <div class="form-group col-md-6" ng-class="errores.unidad?'error':''">
	        <label for="unidad">unidad</label>
	        <input id="unidad" 
	               class="form-control" 
	    		   type="text"
	               ng-model="datosFormulario.unidad"
	    		   placeholder="unidad"/>
	        <div ng-show="errores.unidad">{{errores.unidad}}</div>
	    </div>				
	    <div class="form-group col-md-6" ng-class="errores.cantidad?'error':''">
	        <label for="cantidad">cantidad</label>
	        <input id="cantidad" 
	               class="form-control" 
	    		   type="text"
	               ng-model="datosFormulario.cantidad"
	    		   placeholder="cantidad"/>
	        <div ng-show="errores.cantidad">{{errores.cantidad}}</div>
	    </div>				
	    <div class="form-group col-md-6" ng-class="errores.valor?'error':''">
	        <label for="valor">valor</label>
	        <input id="valor" 
	               class="form-control" 
	    		   type="text"
	               ng-model="datosFormulario.valor"
	    		   placeholder="valor"/>
	        <div ng-show="errores.valor">{{errores.valor}}</div>
	    </div>				
	    <div class="form-group col-md-6" ng-class="errores.total?'error':''">
	        <label for="total">total</label>
	        <input id="total" 
	               class="form-control" 
	    		   type="text"
	               ng-model="datosFormulario.total"
	    		   placeholder="total"/>
	        <div ng-show="errores.total">{{errores.total}}</div>
	    </div>				
	    <div class="form-group col-md-6" ng-class="errores.activo?'error':''">
	        <label for="activo">activo</label>
	    	<input id="activo" 
	    		   type="checkbox"
	               class="form-control" 
	               ng-model="datosFormulario.activo"/>
	        <div ng-show="errores.activo">{{errores.activo}}</div>
	    </div> 
		<div class="row">
		    <div class="form-group col-md-6" ng-class="errores.cargo?'error':''">
		        <label>cargo</label>
				<select id="cargo" class="form-control" 
		            ng-model="datosFormulario.cargo"
		            ng-options="option.nombre for option in listaCargo track by option.id">
		    	</select>
		        <div ng-show="errores.cargo">{{errores.cargo}}</div>
		    </div>
		</div>
		
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="guardar()">Aceptar</button>
	        <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
	    </div>    
    </div>
</div>

