<ul class="nav nav-tabs" style="width: 100%">
    <li style="width: 50%" ng-class="panelEditar ? '' : 'active'"><a ng-click="cancelar()">Listar Viaticos</a></li>
    <li style="width: 50%" ng-class="panelEditar ? 'active' : ''"><a ng-click="nuevo()">Nuevo Viatico</a></li>
</ul>

<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Viatico</div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-lg-6 col-md-6">
                <label>Buscar Por Ciudad</label>
                <select id="ciudad" class="form-control" 
                        ng-model="datosFormulario.filtroCiudad"
                        ng-change="buscarPorCiudad()">
                    <option value="">TODAS</option>
                    <option ng-repeat="option in listaCiudad track by option.id" value="{{option.id}}">{{option.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="row" ng-hide="lista.length">
            <div class="form-group col-lg-12 col-md-12">
                <div class="alert alert-info text-center" role="alert">No se encontraron viaticos para la ciudad seleccionada</div>
            </div>
        </div>
        <table class="resultados table table-striped" ng-show="lista.length">
            <tr>
                <th class="text-center">Ciudad</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Unidad</th>
                <th class="text-center">Valor Diario</th>
                <th class="text-center">Activo</th>
                <th class="text-center">
                    Editar
                </th>
            </tr>
            <tr ng-repeat="row in lista">
                <td class="row text-center">{{row.ciudad.nombre}}</td>              
                <td class="row">{{row.descripcion}}</td>
                <td class="row text-center">{{row.unidad}}</td>
                <td class="row text-center">{{row.valorDiario| currency}}</td>
                <td class="row text-center">
                    <i class="glyphicon glyphicon-ok" ng-show="row.activo"></i>
                    <i class="glyphicon glyphicon-remove-sign" ng-hide="row.activo"></i>
                </td>
                <td class="row text-center" style="width: 10%">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil" title="Editar Viatico"></span>
                    </button>
                </td>
            </tr>
            <tfoot ng-show="datosFormulario.valorTotal !== 0">
                <tr>
                    <td colspan="6" class="text-right">
                        Valor Total Diario {{datosFormulario.valorTotal| currency}}
                    </td>
                </tr>
            </tfoot>                
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Viatico</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar" name="formularioEditar" novalidate angular-validator
              angular-validator-submit="guardar()" autocomplete="off">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="descripcion" class="label-required">Descripción</label>
                    <input id="descripcion" capitalize name="descripcion"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="datosFormulario.descripcion"
                           placeholder="Descripcion"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="unidad">Unidad</label>
                    <input id="unidad" capitalize name="unidad"
                           class="form-control" 
                           type="text"
                           ng-model="datosFormulario.unidad"
                           placeholder="Unidad"/>
                </div>
            </div>				
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="valorDiario" class="label-required">Valor Diario</label>
                    <input id="valorDiario"  name="valorDiario"
                           class="form-control" 
                           type="text"
                           required
                           required-message="'Campo Requerido'"
                           ng-model="datosFormulario.valorDiario"
                           placeholder="Valor Diario"/>
                </div>
                <div class="form-group col-md-6">
                    <label class="label-required">Ciudad</label>
                    <select id="ciudad" class="form-control"  name="ciudad"
                            required
                            required-message="'Campo Requerido'"
                            ng-model="datosFormulario.ciudad"
                            ng-options="option.nombre for option in listaCiudad track by option.id">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="activo">Activo</label>
                    <input id="activo" 
                           class="form-control" 
                           type="checkbox"
                           ng-model="datosFormulario.activo"/>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-default" ng-click="cancelar()"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

